*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-brag: none;
  -webkit-user-region: none;
}

body{
  background-color:antiquewhite;
  display: grid;
  place-content: center;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  font-size: 2rem;
}

.container{
  height: 80vh;
  width: 50vh;
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(50,50,50,0.75);
  -moz-box-shadow:10px 10px 5px 0px rgba(50,50,50,0.75);
  box-shadow: 7px 7px 15px 0px rgba(50,50,50,0.75);
  /*box-shadow: long ,short ,pale ,expand*/
}
.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  /*กำหนดแถวและคอลัมน์*/
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(6,1fr);
  gap: 10px;
}
